.App {
  text-align: center;
}

.title {
  font-family: 'DIN Next LT Pro Medium';
  text-align: center;
  font-size: 24pt;
  color: orangered;
}

.navigation {
  display: grid;
}

button {
  background-color: transparent;
  border-width: 1px;
  border-radius: 10px;
}

